

/* Use <body> as selector for entire landing page */

body {
    background-color: black;
    text-align: center;
    font-family: helvetica;
    color: white;
}

/* Set header font size; default font-weight = Normal */

h1 {
  font-size: 50px
}

/* Use <a> to color text aquamarine */

a {
  color: aquamarine; font-size: 16px
}

video {
  object-fit: contain;
}

/* Sets subheaders font size and weight */

h2 {
  font-size: 42px; font-weight: 300;
}

/* Sets h3 selector font size and color */

h3 {
  font-size: 21px; color: gray
}

#right {
  text-align: right;
}
